.language-wrapper {
    display: flex;
    flex-direction: row;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    position: relative;
    top: 2px;
}

.language {
    font-weight: 300;
    margin-right: 15px;
}

.choosen-language {
    font-weight: normal;
    margin-right: 7px;
}

.language-arrow {
    position: relative;
    top: -4px;
}