.article {
    width: 90%;
    max-width: 1170px;
    height: 645px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../../../images/main-page/main-article.png');
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 10px;
    text-align: left;
}

.article-text {
    padding-left: 6%;
    padding-top: 4.3%;
    width: 48%;
}

.article-header {
    margin-bottom: 28px;
}

.article-paragraph {
    width: 85%;
    margin-bottom: 26px;
}